.comments_skin {
  background: rgba(235, 230, 230, 0.918);
}
.name_color {
  color: #0066D3;
}
.float-left {
  float: left;
}
.float_right {
  float: right;
}
.customer {
  width: 100%;
  clear: both;
  padding-top: 15px;
}
.system {
  width: 100%;
  clear: both;
  padding-top: 15px;
}
.text_r {
  text-align: right;
}
.text_l {
  text-align: left;
}
.user_content {
  max-width: 450px;
  margin-left: 18px;
  background: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  float: left;
}
.sys_content {
  max-width: 450px;
  margin-right: 18px;
  background: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  float: right;
}
